/target
/.classpath
/.project
/.settings
*~
.classpath
.project
.settings/
lib/
logs/
target/
.DS_Store
.metadata
*.log
*.log.*
.idea/
.clover/
*.iml
.vagrant/
.#*
.gitmessage.txt
matrix.ipr
matrix.iws
.lein*
.nrepl*
out/
*.class
build/
classes/*
.gradle/
include/
*.o
*.out
rebel.xml
dt-dynamic-web/youyun/gw/service/
dt-dynamic-web/youyun/phpcustomer/
