<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.user.entity.AccountOperHistory">
    <resultMap id="BaseResultMap" type="com.magic.user.entity.AccountOperHistory">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="before_info" jdbcType="VARCHAR" property="beforeInfo"/>
        <result column="after_info" jdbcType="VARCHAR" property="afterInfo"/>
        <result column="proc_user_id" jdbcType="BIGINT" property="procUserId"/>
        <result column="proc_username" jdbcType="VARCHAR" property="procUsername"/>
        <result column="type" jdbcType="TINYINT" property="type" typeHandler="com.magic.user.utils.EnumKeyTypeHandler"/>
        <result column="owner_id" jdbcType="BIGINT" property="ownerId"/>
        <result column="owner_name" jdbcType="VARCHAR" property="ownerName"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO
            t_account_oper_history(username,user_id,before_info,after_info,proc_user_id,proc_username,type,owner_id,owner_name,create_time)
        VALUES (
          #{username},
          #{userId},
          #{beforeInfo},
          #{afterInfo},
          #{procUserId},
          #{procUsername},
          #{type,jdbcType=TINYINT,typeHandler=com.magic.user.utils.EnumKeyTypeHandler},
          #{ownerId},
          #{ownerName},
          #{createTime}
          )
    </insert>

    <select id="findbyPage" resultMap="BaseResultMap">
        SELECT id,
        username,
        user_id,
        before_info,
        after_info,
        proc_user_id,
        proc_username,
        type,
        owner_id,
        owner_name,
        create_time
        from t_account_oper_history
        <where>
            <if test="type > 0">
                type = #{type}
            </if>
            <if test="account != null and account != ''">
                and username = #{account}
            </if>
            <if test="procUserId != null">
                and proc_user_id = #{procUserId}
            </if>
        </where>
        <if test="offset != null">
            limit #{offset},#{limit}
        </if>

    </select>

    <!-- 获取修改历史列表-->
    <select id="getCount" resultType="java.lang.Long">
        SELECT count(id)
        FROM t_account_oper_history
        <where>
            <if test="type > 0">
                type = #{type}
            </if>
            <if test="account != null and account != ''">
                and username = #{account}
            </if>
            <if test="procUserId != null">
                and proc_user_id = #{procUserId}
            </if>
        </where>
    </select>

</mapper>