<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.user.entity.AgentApply">

    <resultMap id="baseResultMap" type="com.magic.user.entity.AgentApply">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="realname" jdbcType="VARCHAR" property="realname"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="stock_id" jdbcType="BIGINT" property="stockId"/>
        <result column="stock_name" jdbcType="VARCHAR" property="stockName"/>
        <result column="owner_id" jdbcType="BIGINT" property="ownerId"/>
        <result column="bank_card_no" jdbcType="VARCHAR" property="bankCardNo"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="status" jdbcType="TINYINT" property="status"
                typeHandler="com.magic.user.util.EnumKeyTypeHandler"/>
        <result column="resource_url" jdbcType="VARCHAR" property="resourceUrl"/>
        <result column="register_ip" jdbcType="INTEGER" property="registerIp"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="temp1" jdbcType="VARCHAR" property="temp1"/>
        <result column="temp2" jdbcType="VARCHAR" property="temp2"/>
    </resultMap>

    <!-- 新增代理申请--><!--used-->
    <insert id="insert" parameterType="AgentApply">
        insert into t_agent_apply (
          username,
          stock_id,
          stock_name,
          owner_id,
          password,
          realname,
          telephone,
          email,
          status,
          resource_url,
          register_ip,
          create_time
          )
        values (
          #{username},
          #{stockId},
          #{stockName},
          #{ownerId},
          #{password},
          #{realname},
          #{telephone},
          #{email},
          #{status,jdbcType=TINYINT,typeHandler=com.magic.user.util.EnumKeyTypeHandler},
          #{resourceUrl},
          #{registerIp},
          #{createTime}
        )
    </insert>

    <!--代理审核信息--><!--used-->
    <select id="get" resultMap="baseResultMap">
        select
        id,
        username,
        realname,
        password,
        stock_id stockId,
        stock_name stockName,
        status status,
        resource_url resourceUrl,
        register_ip registerIp,
        create_time createTime,
        telephone,
        email,
        bank_card_no bankCardNo
        from t_agent_apply
        WHERE id=#{id}

    </select>

    <!--代理审核基础信息--><!--used-->
    <select id="getDetail" resultType="com.magic.user.vo.AgentApplyVo">
        select
        id,
        username account,
        realname,
        telephone,
        email,
        bank_card_no bankCardNo
        from t_agent_apply
        WHERE id=#{id}

    </select>

    <!--修改申请信息的状态-->
    <update id="updateStatus">
        update t_agent_apply
        SET status=#{status,}
        WHERE id=#{id}
    </update>


    <!--代理审核列表查询--><!--used-->
    <select id="findByPage" resultType="com.magic.user.vo.AgentApplyVo">
        select
        a.id id,
        a.stock_id holder,
        a.stock_name holderName,
        a.username account,
        a.realname realname,
        a.telephone telephone,
        a.email email,
        a.`status` status,
        a.resource_url source,
        a.register_ip registerIp,
        r.oper_user_name operUserName,
        r.create_time operatorTime
        from t_agent_apply a
        LEFT JOIN t_agent_review r ON(a.id=r.agent_apply_id)
        <![CDATA[
         WHERE
          a.owner_id=#{ownerId}

        ]]>
        <if test="status != null and status > 0">
            and a.status=#{status}
        </if>
        <if test="account!=null and account != ''">
            and a.username=#{account}
        </if>
        <if test="offset != null and offset >= 0">
            limit #{offset},#{limit}
        </if>

    </select>

    <!--获取代理审核列表总数目-->
    <select id="getCount" resultType="java.lang.Long">
        select count(id) from t_agent_apply
        <![CDATA[
         WHERE
          owner_id=#{ownerId}
        ]]>
        <if test="status != null and status > 0">
            and status=#{status}
        </if>
        <if test="account!=null and account != ''">
            and username=#{account}
        </if>
    </select>
</mapper>