<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.user.entity.AgentReview">
    <resultMap id="BaseResultMap" type="com.magic.user.entity.AgentReview">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="agent_review_id" jdbcType="BIGINT" property="agentReviewId"/>
        <result column="oper_user_id" jdbcType="BIGINT" property="operUserId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <!-- 新增代理审核-->
    <insert id="add">
      INSERT INTO t_agent_review(
        agent_apply_id,
        oper_user_id,
        status,
        create_time
      )
      VALUES (
        #{agentApplyId},
        #{operUserId},
        #{status},
        #{createTime}
      )
    </insert>

    <!-- 分页查询代理审核列表-->
    <select id="findByPage">
        select
            holder,
            holderName,
            id,
            account,
            realname,
            telephone,
            email,
            status,
            showStatus,
            source,
            registerIp,
            operUserName,
            operaterTime
        from
            t_agent_review
    </select>


    <!--修改审核状态-->
    <update id="updateStatus">
        update t_agent_review
          SET status=#{status}
        WHERE id=#{id}
    </update>


</mapper>