<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.user.mapper.AgentReviewMapper">
    <resultMap id="BaseResultMap" type="com.magic.user.entity.AgentApply">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="stock_id" jdbcType="BIGINT" property="stockId"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="resource_url" jdbcType="VARCHAR" property="resourceUrl"/>
        <result column="register_ip" jdbcType="INTEGER" property="registerIp"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="temp1" jdbcType="VARCHAR" property="temp1"/>
        <result column="temp2" jdbcType="VARCHAR" property="temp2"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, username, stock_id, telephone, email, status, resource_url, register_ip, create_time, 
    temp1, temp2
  </sql>

    <!-- 新增代理申请-->
    <insert id="insert" parameterType="AgentApply">
        insert into t_agent_review (
          username,
          stock_id,
          password,
          realname,
          telephone,
          email,
          status,
          resource_url,
          register_ip,
          create_time
          )
        values (
          #{username},
          #{stockId},
          #{password},
          #{realname},
          #{telephone},
          #{email},
          #{status},
          #{resourceUrl},
          #{registerIp},
          #{createTime}
        )
    </insert>


    <!--代理审核基础信息-->
    <select id="get">
        select
        id,
        account,
        realname,
        telphone,
        email,
        bank_card_no
        from t_agent_apply

    </select>

    <!--修改申请信息的状态-->
    <update id="updateStatus">
        update t_agent_apply
        SET status=#{status}
        WHERE id=#{id}
    </update>

</mapper>