<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.user.mapper.AgentConfigMapper">
    <resultMap id="BaseResultMap" type="com.magic.user.entity.AgentConfig">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="agent_id" jdbcType="BIGINT" property="agentId"/>
        <result column="return_scheme_id" jdbcType="INTEGER" property="returnSchemeId"/>
        <result column="admin_cost_id" jdbcType="INTEGER" property="adminCostId"/>
        <result column="fee_id" jdbcType="INTEGER" property="feeId"/>
        <result column="discount" jdbcType="INTEGER" property="discount"/>
        <result column="cost" jdbcType="INTEGER" property="cost"/>
        <result column="domain" jdbcType="VARCHAR" property="domain"/>
        <result column="temp1" jdbcType="VARCHAR" property="temp1"/>
        <result column="temp2" jdbcType="VARCHAR" property="temp2"/>
        <result column="temp3" jdbcType="VARCHAR" property="temp3"/>
    </resultMap>


    <!--添加代理参数配置-->
    <insert id="add" parameterType="AgentConfig">
        insert into t_agent_config_info(agent_id,return_scheme_id,admin_cost_id,fee_id,discount,cost,domain)
        values(
            #{agentId},
            #{returnSchemeId},
            #{adminCostId},
            #{feeId},
            #{discount},
            #{cost},
            #{domain}
        )
    </insert>

    <!-- 代理参数配置修改-->
    <update id="update" parameterType="AgentConfig">
        UPDATE t_agent_config_info
        <set>
            <if test="returnSchemeId != null">
                return_scheme_id = #{returnSchemeId},
            </if>
            <if test="adminCostId != null">
                admin_cost_id = #{adminCostId},
            </if>
            <if test="feeId != null">
                fee_id = #{feeId},
            </if>
        </set>
        WHERE agent_id=#{agentId}
    </update>
    <!--获取代理的参数配置信息--><!---->
    <select id="findByAgentId" resultType="java.util.HashMap">
        select agent_id agentId
            return_scheme_id returnScheme,
            admin_cost_id adminCost,
            fee_id feeScheme
         from t_agent_config_info
          WHERE agent_id=#{agentId}
    </select>

</mapper>