<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.user.entity.AgentReview">

    <sql id="Base_Column_List">
    id, username, stock_id, telephone, email, status, resource_url, register_ip, create_time,
    temp1, temp2
  </sql>

    <!-- 新增代理申请--><!--used-->
    <insert id="insert" parameterType="AgentApply">
        insert into t_agent_review (
          username,
          stock_id,
          password,
          realname,
          telephone,
          email,
          status,
          resource_url,
          register_ip,
          create_time
          )
        values (
          #{username},
          #{stockId},
          #{password},
          #{realname},
          #{telephone},
          #{email},
          #{status},
          #{resourceUrl},
          #{registerIp},
          #{createTime}
        )
    </insert>

    <!--代理审核信息--><!--used-->
    <select id="get" resultType="AgentApply">
        select
        id,
        username,
        realname,
        stock_id stockId,
        stock_name stockName,
        status status,
        resource_url resourceUrl,
        register_ip registerIp,
        create_time createTime,
        telephone,
        email,
        bank_card_no bankCardNo
        from t_agent_apply
        WHERE id=#{id}

    </select>

    <!--代理审核基础信息--><!--used-->
    <select id="getDetail" resultType="java.util.HashMap">
        select
        id,
        username account,
        realname,
        telephone,
        email,
        bank_card_no bankCardNo
        from t_agent_apply
        WHERE id=#{id}

    </select>

    <!--修改申请信息的状态-->
    <update id="updateStatus">
        update t_agent_apply
        SET status=#{status}
        WHERE id=#{id}
    </update>


    <!--代理审核列表查询--><!--used-->
    <select id="findByPage" resultType="java.util.HashMap">
        select
        a.id id,
        a.stock_id stock,
        a.stock_name holderName,
        a.username account,
        a.realname realname,
        a.telephone telephone,
        a.email email,
        a.`status` status,
        a.resource_url source,
        a.register_ip registerIp,
        r.oper_user_name operUserName,
        r.create_time operaterTime
        from t_agent_apply a
        LEFT JOIN t_agent_review r ON(a.id=r.agent_apply_id)
        <![CDATA[
         WHERE a.`status` <> 1

        ]]>
        <if test="status >0 ">
            and a.status=#{status}
        </if>
        <if test="account!=null ">
            and a.username=#{account}
        </if>
        limit #{offset},#{limit}
    </select>

</mapper>