<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.user.entity.LoginHistory">
    <resultMap id="BaseResultMap" type="com.magic.user.entity.LoginHistory">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="request_ip" jdbcType="INTEGER" property="requestIp" />
        <result column="login_type" jdbcType="TINYINT" property="loginType" />
        <result column="platform" jdbcType="VARCHAR" property="platform" />
        <result column="ip_addr" jdbcType="VARCHAR" property="ipAddr" />
    </resultMap>

    <!--添加登录历史-->
    <insert id="insert">
        INSERT INTO t_login_history(user_id,create_time,request_ip,login_type,platform,ip_addr)
        VALUES (
          #{userId},
          #{createTime},
          #{loginType},
          #{platform},
          #{ipAddr}
        )
    </insert>

    <!--根据用户ip查询登录历史-->
    <select id="findByUserId" resultType="java.util.HashMap">
        SELECT
          id,
          user_id userId,
          create_time createTime,
          request_ip requestIp,
          login_type loginType,
          platform,
          ip_addr ipAddr
        FROM t_login_history
          WHERE user_id=#{userId}
    </select>
</mapper>