<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.user.entity.Login">
    <resultMap id="BaseResultMap" type="com.magic.user.entity.Login">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="last_login_ip" jdbcType="INTEGER" property="lastLoginIp"/>
        <result column="status" jdbcType="TINYINT" property="status"
                typeHandler="com.magic.user.util.EnumKeyTypeHandler"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,
        username,
        password,
        update_time,
        last_login_ip,
        status
    </sql>


    <select id="get" resultMap="BaseResultMap">
        select * from t_login_info
        WHERE user_id=#{id}
    </select>

    <!--新增登录信息-->
    <insert id="insert">
        INSERT INTO t_login_info(user_id,username,password)
        VALUES (
        #{userId},
        #{username},
        #{password}
        )
    </insert>

    <!--重置密码--><!--used-->
    <update id="updatePwd">
        UPDATE t_login_info
        SET password =#{password}
        WHERE user_id=#{id}
    </update>

    <!--修改用户登录状态-->
    <update id="updateLoginStatus">
        UPDATE t_login_info
        <set>
            <if test="lastLoginTime != null">
                update_time=#{lastLoginTime},
            </if>
            <if test="lastLoginIp != null">
                last_login_ip=#{lastLoginIp},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
        </set>
        WHERE user_id=#{userId}
    </update>


    <!--获取多个用户的登录信息-->
    <select id="selectByUserIds" resultMap="BaseResultMap" parameterType="java.util.List" >
        select
        <include refid="Base_Column_List" />
        from t_login_info
        where user_id IN
        <foreach collection="list" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>

    </select>

</mapper>