<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.user.mapper.MemberMapper">
  <resultMap id="BaseResultMap" type="com.magic.user.entity.Member">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="bank_card_no" jdbcType="VARCHAR" property="bankCardNo" />
    <result column="agent_id" jdbcType="BIGINT" property="agentId" />
    <result column="agent_username" jdbcType="VARCHAR" property="agentUsername" />
    <result column="stock_id" jdbcType="BIGINT" property="stockId" />
    <result column="stock_username" jdbcType="VARCHAR" property="stockUsername" />
    <result column="owner_id" jdbcType="BIGINT" property="ownerId" />
    <result column="owner_username" jdbcType="VARCHAR" property="ownerUsername" />
    <result column="source_url" jdbcType="VARCHAR" property="sourceUrl" />
    <result column="register_ip" jdbcType="INTEGER" property="registerIp" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="currency_type" jdbcType="TINYINT" property="currencyType" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="temp1" jdbcType="VARCHAR" property="temp1" />
    <result column="temp2" jdbcType="VARCHAR" property="temp2" />
    <result column="temp3" jdbcType="VARCHAR" property="temp3" />
  </resultMap>
  <sql id="Base_Column_List">
    id, member_id, realname, username, telephone, bank_card_no, agent_id, agent_username, 
    stock_id, stock_username, owner_id, owner_username, source_url, register_ip,
    register_time, status, gender, currency_type, is_delete, temp1, temp2, temp3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_member
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_member
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.magic.user.entity.Member">
    insert into t_member (id, member_id, realname, 
      username, telephone, bank_card_no, 
      agent_id, agent_username, stock_id, 
      stock_username, owner_id, owner_username,
      source_url, register_ip, register_time, 
      status, gender, currency_type, 
      is_delete, temp1, temp2, 
      temp3)
    values (#{id,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, #{realname,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{bankCardNo,jdbcType=VARCHAR}, 
      #{agentId,jdbcType=BIGINT}, #{agentUsername,jdbcType=VARCHAR}, #{stockId,jdbcType=BIGINT}, 
      #{stockUsername,jdbcType=VARCHAR}, #{ownerId,jdbcType=BIGINT}, #{ownerUsername,jdbcType=VARCHAR},
      #{sourceUrl,jdbcType=VARCHAR}, #{registerIp,jdbcType=INTEGER}, #{registerTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{gender,jdbcType=TINYINT}, #{currencyType,jdbcType=TINYINT}, 
      #{isDelete,jdbcType=TINYINT}, #{temp1,jdbcType=VARCHAR}, #{temp2,jdbcType=VARCHAR}, 
      #{temp3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.magic.user.entity.Member">
    insert into t_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="bankCardNo != null">
        bank_card_no,
      </if>
      <if test="agentId != null">
        agent_id,
      </if>
      <if test="agentUsername != null">
        agent_username,
      </if>
      <if test="stockId != null">
        stock_id,
      </if>
      <if test="stockUsername != null">
        stock_username,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="ownerUsername != null">
        owner_username,
      </if>
      <if test="sourceUrl != null">
        source_url,
      </if>
      <if test="registerIp != null">
        register_ip,
      </if>
      <if test="registerTime != null">
        register_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="currencyType != null">
        currency_type,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="temp1 != null">
        temp1,
      </if>
      <if test="temp2 != null">
        temp2,
      </if>
      <if test="temp3 != null">
        temp3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="bankCardNo != null">
        #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=BIGINT},
      </if>
      <if test="agentUsername != null">
        #{agentUsername,jdbcType=VARCHAR},
      </if>
      <if test="stockId != null">
        #{stockId,jdbcType=BIGINT},
      </if>
      <if test="stockUsername != null">
        #{stockUsername,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="ownerUsername != null">
        #{ownerUsername,jdbcType=VARCHAR},
      </if>
      <if test="sourceUrl != null">
        #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="registerIp != null">
        #{registerIp,jdbcType=INTEGER},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="currencyType != null">
        #{currencyType,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="temp1 != null">
        #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null">
        #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null">
        #{temp3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.magic.user.entity.Member">
    update t_member
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="bankCardNo != null">
        bank_card_no = #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        agent_id = #{agentId,jdbcType=BIGINT},
      </if>
      <if test="agentUsername != null">
        agent_username = #{agentUsername,jdbcType=VARCHAR},
      </if>
      <if test="stockId != null">
        stock_id = #{stockId,jdbcType=BIGINT},
      </if>
      <if test="stockUsername != null">
        stock_username = #{stockUsername,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="ownerUsername != null">
        owner_username = #{ownerUsername,jdbcType=VARCHAR},
      </if>
      <if test="sourceUrl != null">
        source_url = #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="registerIp != null">
        register_ip = #{registerIp,jdbcType=INTEGER},
      </if>
      <if test="registerTime != null">
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="currencyType != null">
        currency_type = #{currencyType,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="temp1 != null">
        temp1 = #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null">
        temp2 = #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null">
        temp3 = #{temp3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.magic.user.entity.Member">
    update t_member
    set member_id = #{memberId,jdbcType=BIGINT},
      realname = #{realname,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      bank_card_no = #{bankCardNo,jdbcType=VARCHAR},
      agent_id = #{agentId,jdbcType=BIGINT},
      agent_username = #{agentUsername,jdbcType=VARCHAR},
      stock_id = #{stockId,jdbcType=BIGINT},
      stock_username = #{stockUsername,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=BIGINT},
      owner_username = #{ownerUsername,jdbcType=VARCHAR},
      source_url = #{sourceUrl,jdbcType=VARCHAR},
      register_ip = #{registerIp,jdbcType=INTEGER},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      gender = #{gender,jdbcType=TINYINT},
      currency_type = #{currencyType,jdbcType=TINYINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      temp1 = #{temp1,jdbcType=VARCHAR},
      temp2 = #{temp2,jdbcType=VARCHAR},
      temp3 = #{temp3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>