<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.user.mapper.MemberMapper">
    <resultMap id="BaseResultMap" type="com.magic.user.entity.Member">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="realname" jdbcType="VARCHAR" property="realname"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="bank_card_no" jdbcType="VARCHAR" property="bankCardNo"/>
        <result column="bank" jdbcType="VARCHAR" property="bank"/>
        <result column="bank_deposit" jdbcType="VARCHAR" property="bankDeposit"/>
        <result column="agent_id" jdbcType="BIGINT" property="agentId"/>
        <result column="agent_username" jdbcType="VARCHAR" property="agentUsername"/>
        <result column="stock_id" jdbcType="BIGINT" property="stockId"/>
        <result column="stock_username" jdbcType="VARCHAR" property="stockUsername"/>
        <result column="owner_id" jdbcType="BIGINT" property="ownerId"/>
        <result column="owner_username" jdbcType="VARCHAR" property="ownerUsername"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="source_url" jdbcType="VARCHAR" property="sourceUrl"/>
        <result column="register_ip" jdbcType="INTEGER" property="registerIp"/>
        <result column="register_time" jdbcType="TIMESTAMP" property="registerTime"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="currency_type" jdbcType="TINYINT" property="currencyType"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="temp1" jdbcType="VARCHAR" property="temp1"/>
        <result column="temp2" jdbcType="VARCHAR" property="temp2"/>
        <result column="temp3" jdbcType="VARCHAR" property="temp3"/>
    </resultMap>

    <!--查询会员列表-->
    <select id="findList">
        SELECT
        id,
        member_id,
        realname,
        agent_id agentId,
        agent_username agentUsername,
        status
        FROM t_member
        WHERE member_id IN
        <foreach collection="list" item="id" open="(" close=")"
                 separator=",">
            #{id}
        </foreach>
    </select>

    <!--会员详情信息-->
    <select id="get">
        SELECT
          member_id memberId,
          username username,
          agent_id agentId,
          agent_username agent_username,
          realname realname,
          register_time registerTime,
          telephone,
          register_ip registerIp,
          email,
          status,
          bank_card_no bankCardNo,
          last_login_ip lastLoginIp
        FROM t_member
          WHERE member_id=#{memberId}
    </select>

    <!--会员基础信息修改-->
    <update id="update">
        UPDATE t_member
        <set>
            <if test="realname != null">
                realname = #{realname},
            </if>
            <if test="telephone != null">
                telephone = #{telephone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="bankCardNo != null">
                bank_card_no = #{bankCardNo},
            </if>
            <if test="status > 0 ">
                status = #{status},
            </if>
        </set>
    </update>

    <!--添加会员-->
    <insert id="add">

    </insert>
</mapper>