<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.user.entity.OwnerStockAgentMember">

    <resultMap id="BaseResultMap" type="com.magic.user.entity.OwnerStockAgentMember">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="owner_id" jdbcType="BIGINT" property="ownerId" />
        <result column="stock_id" jdbcType="BIGINT" property="stockId" />
        <result column="agent_id" jdbcType="BIGINT" property="agentId" />
        <result column="mem_number" jdbcType="INTEGER" property="memNumber" />
    </resultMap>

    <sql id="rows">
        id,owner_id,stock_id,agent_id,mem_number
    </sql>

    <insert id="insert">
        INSERT INTO
        t_owner_stock_agent_member(owner_id,stock_id,agent_id,mem_number)
        VALUES (
        #{ownerId},
        #{stockId},
        #{agentId},
        #{memNumber}
        )
    </insert>

    <select id="findById" resultMap="BaseResultMap">
      SELECT
        <include refid="rows" />
      FROM
        t_owner_stock_agent_member
      WHERE
        owner_id=#{ownerMapper.ownerId}
        AND stock_id=#{ownerMapper.stockId}
        AND agent_id=#{ownerMapper.agentId}
    </select>

    <select id="countMembersById" resultMap="BaseResultMap">
        SELECT
          SUM(mem_number) as memNumber
        FROM t_owner_stock_agent_member
        <where>
            <if test="ownerId != null">
              AND  owner_id=#{ownerId}
            </if>
            <if test="stockId != null">
              AND stock_id=#{stockId}
            </if>
            <if test="agentId != null">
              AND agent_id=#{agentId}
            </if>
        </where>
    </select>

    <select id="countMembersByIds" resultMap="BaseResultMap">
        SELECT
            SUM(mem_number) AS memNumber
            <if test="ownerIds != null">
                ,owner_id
            </if>
            <if test="stockIds != null">
                ,stock_id
            </if>
            <if test="agentIds != null">
                ,agent_id
            </if>
        FROM t_owner_stock_agent_member
        <where>
            <if test="ownerIds != null">
                AND  owner_id
                <foreach collection="ownerIds" item="id" open="IN (" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="stockIds != null">
                AND stock_id
                <foreach collection="stockIds" item="id" open="IN (" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="agentIds != null">
                AND agent_id
                <foreach collection="agentIds" item="id" open="IN (" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        GROUP BY
            <if test="ownerIds != null">
              owner_id
            </if>
            <if test="stockIds != null">
              stock_id
            </if>
            <if test="agentIds != null">
              agent_id
            </if>
    </select>

    <update id="updateMemNumber">
        UPDATE t_owner_stock_agent_member
        SET mem_number = mem_number+1
        <where>
            owner_id = #{member.ownerId}
            AND stock_id = #{member.stockId}
            AND agent_id = #{member.agentId}
        </where>
    </update>


</mapper>