<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.user.entity.OwnerStockAgentMember">


    <insert id="insert">
        INSERT INTO
        t_owner_stock_agent_member(owner_id,stock_id,agent_id,mem_number)
        VALUES (
        #{ownerId},
        #{stockId},
        #{agentId},
        #{memNumber}
        )
    </insert>


</mapper>