<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.user.entity.User">

    <resultMap id="baseResultMap" type="User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="realname" jdbcType="VARCHAR" property="realname"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="register_time" jdbcType="BIGINT" property="registerTime"/>
        <result column="register_ip" jdbcType="INTEGER" property="registerIp"/>
        <result column="generalize_code" jdbcType="VARCHAR" property="generalizeCode"/>
        <result column="gender" jdbcType="TINYINT" property="gender"
                typeHandler="com.magic.user.util.EnumKeyTypeHandler"/>
        <result column="status" jdbcType="TINYINT" property="status"
                typeHandler="com.magic.user.util.EnumKeyTypeHandler"/>
        <result column="currency_type" jdbcType="TINYINT" property="currencyType"
                typeHandler="com.magic.user.util.EnumKeyTypeHandler"/>
        <result column="bank_card_no" jdbcType="VARCHAR" property="bankCardNo"/>
        <result column="bank" jdbcType="VARCHAR" property="bank"/>
        <result column="bank_deposit" jdbcType="VARCHAR" property="bankDeposit"/>
        <result column="owner_id" jdbcType="BIGINT" property="ownerId"/>
        <result column="owner_name" jdbcType="VARCHAR" property="ownerName"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"
                typeHandler="com.magic.user.util.EnumKeyTypeHandler"/>
        <result column="type" jdbcType="TINYINT" property="type"
                typeHandler="com.magic.user.util.EnumKeyTypeHandler"/>
        <result column="temp1" jdbcType="VARCHAR" property="temp1"/>
        <result column="temp2" jdbcType="VARCHAR" property="temp2"/>
        <result column="temp3" jdbcType="VARCHAR" property="temp3"/>
    </resultMap>

    <!--获取用户基础信息-->
    <select id="get" resultMap="baseResultMap">
        select
            id,
            user_id,
            realname,
            username,
            telephone,
            email,
            register_time,
            register_ip,
            generalize_code,
            gender,
            status,
            currency_type,
            bank_card_no,
            owner_id,
            owner_name,
            is_delete,
            type
            from t_user_info
        WHERE user_id=#{userId}
    </select>

    <!--新增用户--><!--used-->
    <insert id="insert" parameterType="User">
        INSERT INTO t_user_info(
        <if test="username != null ">
            username,
        </if>
        <if test="realname != null">
            realname,
        </if>
        <if test="telephone != null">
            telephone,
        </if>
        <if test="currencyType != null">
            currency_type,
        </if>
        <if test="email != null">
            email,
        </if>
        <if test="registerTime != null">
            register_time,
        </if>
        <if test="registerIp != null ">
            register_ip,
        </if>
        <if test="generalizeCode != null ">
            generalize_code,
        </if>
        <if test="gender != null">
            gender,
        </if>
        <if test="status != null ">
            status,
        </if>
        <if test="bankCardNo != null">
            bank_card_no,
        </if>
        <if test="bank != null">
            bank,
        </if>
        <if test="bankDeposit != null">
            bank_deposit,
        </if>
        <if test="ownerId  != null">
            owner_id,
        </if>
        <if test="ownerName  != null">
            owner_name,
        </if>
        <if test="isDelete != null ">
            is_delete,
        </if>
        <if test="type != null ">
            type,
        </if>
        user_id
        )
        VALUES(
        <if test="username != null ">
            #{username},
        </if>
        <if test="realname != null">
            #{realname},
        </if>
        <if test="telephone != null">
            #{telephone},
        </if>
        <if test="currencyType != null">
            #{currencyType,jdbcType=TINYINT,typeHandler=com.magic.user.util.EnumKeyTypeHandler},
        </if>
        <if test="email != null">
            #{email},
        </if>
        <if test="registerTime != null">
            #{registerTime},
        </if>
        <if test="registerIp != null ">
            #{registerIp},
        </if>
        <if test="generalizeCode != null ">
            #{generalizeCode},
        </if>
        <if test="gender != null">
            #{gender,jdbcType=TINYINT,typeHandler=com.magic.user.util.EnumKeyTypeHandler},
        </if>
        <if test="status != null ">
            #{status,jdbcType=TINYINT,typeHandler=com.magic.user.util.EnumKeyTypeHandler},
        </if>
        <if test="bankCardNo != null">
            #{bankCardNo},
        </if>
        <if test="bank != null">
            #{bank},
        </if>
        <if test="bankDeposit != null">
            #{bankDeposit},
        </if>
        <if test="ownerId  != null">
            #{ownerId},
        </if>
        <if test="ownerName  != null">
            #{ownerName},
        </if>
        <if test="isDelete != null ">
            #{isDelete,jdbcType=TINYINT,typeHandler=com.magic.user.util.EnumKeyTypeHandler},
        </if>
        <if test="type != null">
            #{type,jdbcType=TINYINT,typeHandler=com.magic.user.util.EnumKeyTypeHandler},
        </if>
        #{userId}

        )
    </insert>

    <!--###########   股东操作   #############-->
    <!-- 查询所有的股东--><!--used-->
    <select id="findAllStock" resultType="com.magic.user.vo.StockInfoVo">
        select
          id,
          realname,
          username account,
          currency_type currencyType,
          register_time registerTime,
          status
        FROM t_user_info
        WHERE type=2
    </select>

    <!-- 查询所有股东名称-->
    <select id="findAllStockNames" resultType="java.util.HashMap">
        SELECT
          user_id id,
          username account
        FROM t_user_info
        WHERE type=2
    </select>

    <!-- 获取股东详细信息--><!--used-->
    <select id="getStockDetail" resultType="com.magic.user.vo.StockInfoVo">
      select
		  id,
          username account,
          realname,
          telephone,
          bank_card_no bankCardNo,
          email,
          register_ip registerIp,
          register_time registerTime,
          status,
          (select last_login_ip from t_login_info WHERE user_id=#{id} ) as lastLoginIp,
          (select count(1) from t_owner_stock_agent_member WHERE stock_id=#{id}) agentNumber,
          (select SUM(mem_number) from t_owner_stock_agent_member WHERE stock_id=#{id}) members
        from t_user_info
        WHERE user_id=#{id}
    </select>


    <!--基础信息修改--><!--used-->
    <update id="update" parameterType="User">
        UPDATE t_user_info
        <set>
            <if test="realname != null">
                realname = #{realname},
            </if>
            <if test="telephone != null">
                telephone = #{telephone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="bankCardNo != null">
                bank_card_no = #{bankCardNo},
            </if>
            <if test="bank != null">
                bank = #{bank},
            </if>
            <if test="status != null ">
                status = #{status,jdbcType=TINYINT,typeHandler=com.magic.user.util.EnumKeyTypeHandler},
            </if>
        </set>
        WHERE user_id=#{userId}

    </update>


    <!--根据股东id获取业主id-->
    <select id="getOwnerIdByStock" resultType="java.lang.Long">
      SELECT owner_id FROM t_user_info WHERE user_id=#{userId}
    </select>

    <!--###########   股东操作   #############-->


    <!--###########   代理操作   #############-->
    <!--启用、停用用户--><!--used-->
    <update id="updateDisable">
        UPDATE t_user_info
        SET status=#{status}
        WHERE user_id=#{id}
    </update>

    <!--获取代理列表--><!--used,暂时注释掉查询条件-->
    <select id="findAgentList" resultType="com.magic.user.vo.AgentInfoVo">
       select
            os.stock_id holder,
            (select username from t_user_info where user_id=os.stock_id) holderName,
            u.user_id id,
            u.realname realname,
            u.username account,
            u.register_time registerTime,
            u.generalize_code promotionCode,
            u.`status` status,
            ar.oper_user_name reviewer,
            ar.create_time reviewTime
         from t_user_info u LEFT JOIN t_owner_stock_agent_member os
        on(u.user_id = os.agent_id)
        LEFT JOIN t_agent_review ar
        on (u.user_id=ar.oper_user_id)
        limit #{offset},#{limit}
    </select>


    <!--根据多个代理id查询代理列表-->
    <select id="findAgentByIds" resultType="com.magic.user.vo.AgentInfoVo">
        select
        os.stock_id holder,
        (select username from t_user_info where user_id=os.stock_id) holderName,
        u.user_id id,
        u.realname realname,
        u.username account,
        u.register_time registerTime,
        u.generalize_code promotionCode,
        u.`status` status,
        ar.oper_user_name reviewer,
        ar.create_time reviewTime
        from t_user_info u LEFT JOIN t_owner_stock_agent_member os
        on(u.user_id = os.agent_id)
        LEFT JOIN t_agent_review ar
        on (u.user_id=ar.oper_user_id)

        <choose>
            <when test="list != null and list.size > 0">
                WHERE u.user_id in
                <foreach collection="list" item="id" open="(" close=")"
                         separator=",">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                WHERE u.type=3
            </otherwise>
        </choose>


    </select>

    <!--获取数量--><!--used 暂时取消查询条件-->
    <select id="findAgentCount" resultType="java.lang.Long">
        select count(id) from t_user_info
        WHERE type=3
    </select>

    <!--新增代理-->
    <insert id="addAgent" parameterType="User">
        INSERT INTO t_user_info
          (user_id,username,realname,telephone,bank_card_no,email,register_time,register_ip,generalize_code,status,owner_id,owner_name,type)
        VALUES(
        #{userId},
        #{username},
        #{realname},
        #{telephone},
        #{bankCardNo},
        #{email},
        #{registerTime},
        #{registerIp},
        #{generalizeCode},
        #{status,jdbcType=TINYINT,typeHandler=com.magic.user.util.EnumKeyTypeHandler},
        #{ownerId},
        #{ownerName},
        #{type,jdbcType=TINYINT,typeHandler=com.magic.user.util.EnumKeyTypeHandler}
        )
    </insert>

    <!--代理详情--><!-- used -->
    <select id="agentDetail" resultType="com.magic.user.vo.AgentInfoVo">
        SELECT
            u.user_id id,
            u.username account,
            u.`status` status,
            u.realname realname,
            (SELECT username from t_user_info where user_id=os.stock_id) holderName,
            u.register_time registerTime,
            u.register_ip registerIp,
            l.update_time lastLoginIp,
            u.generalize_code promotionCode,
            ac.domain domain,
            u.telephone telephone,
            u.email email,
            u.bank_card_no bankCardNo,
            u.bank bank
          from t_user_info u
          LEFT JOIN t_owner_stock_agent_member os
          on(u.user_id = os.agent_id)
          LEFT JOIN t_login_info l
          on(u.user_id=l.user_id)
          LEFT JOIN t_agent_config_info ac
          on(u.user_id=ac.agent_id)
        WHERE u.user_id=#{userId}
    </select>

    <!--根据推广码获取代理信息--><!-- used -->
    <select id="findAgentByProCode" resultMap="baseResultMap">
        SELECT
            id,
            user_id,
            realname,
            username,
            telephone,
            email,
            register_time,
            register_ip,
            generalize_code,
            gender,
            status,
            currency_type,
            bank_card_no,
            owner_id,
            owner_name,
            is_delete,
            type
            from t_user_info
        WHERE generalize_code=#{proCode}
    </select>
    <!--###########   代理操作   #############-->


</mapper>