<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <properties>
        <property name="app_name">magic-user</property>
        <property name="log_home">/apps/tomcat-custom-instance/magic-user/logs</property>
        <property name="log_backup_home">${log_home}</property>
        <property name="default_pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t][%l] %p - %msg%n</property>
        <property name="default_file_size">300MB</property>
        <property name="default_file_count">10</property>
        <property name="default_time_interval">1</property>
    </properties>


    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${default_pattern}"/>
        </Console>

        <RollingFile name="root"
                     fileName="${log_home}/${app_name}_root.log"
                     filePattern="${log_backup_home}/${app_name}_root-%d{yyyy-MM-dd}.%i.log">
            <PatternLayout pattern="${default_pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${default_time_interval}" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="${default_file_count}"/>
        </RollingFile>

        <RollingFile name="debug"
                     fileName="${log_home}/${app_name}_debug.log"
                     filePattern="${log_backup_home}/${app_name}_debug-%d{yyyy-MM-dd}.%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss SSS} [%t] %p - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${default_time_interval}" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="${default_file_count}"/>
        </RollingFile>

        <RollingFile name="warn"
                     fileName="${log_home}/${app_name}_warn.log"
                     filePattern="${log_backup_home}/${app_name}_warn-%d{yyyy-MM-dd}.%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss SSS} [%t] %p - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${default_time_interval}" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="${default_file_count}"/>
        </RollingFile>

        <RollingFile name="info"
                     fileName="${log_home}/${app_name}_info.log"
                     filePattern="${log_backup_home}/${app_name}_info-%d{yyyy-MM-dd}.%i.log">
            <PatternLayout pattern="${default_pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${default_time_interval}" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="${default_file_count}"/>
        </RollingFile>

        <RollingFile name="error"
                     fileName="${log_home}/${app_name}_error.log"
                     filePattern="${log_backup_home}/${app_name}_error-%d{yyyy-MM-dd}.%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss SSS} [%t] %p - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${default_time_interval}" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="${default_file_count}"/>
        </RollingFile>

        <RollingFile name="request"
                     fileName="${log_home}/${app_name}_request.log"
                     filePattern="${log_backup_home}/${app_name}_request-%d{yyyy-MM-dd}.%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %p - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${default_time_interval}" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="${default_file_count}"/>
        </RollingFile>

        <RollingFile name="db_info"
                     fileName="${log_home}/${app_name}_db_info.log"
                     filePattern="${log_backup_home}/${app_name}_db_info-%d{yyyy-MM-dd}.%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss SSS} [%t] %p - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${default_time_interval}" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="${default_file_count}"/>
        </RollingFile>

        <RollingFile name="review_info"
                     fileName="${log_home}/${app_name}_review_info.log"
                     filePattern="${log_backup_home}/${app_name}_review_info-%d{yyyy-MM-dd}.%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss SSS} [%t] %p - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${default_time_interval}" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="${default_file_count}"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="root"/>
        </Root>
        <logger name="debug" level="debug" additivity="false">
            <AppenderRef ref="debug"/>
        </logger>
        <logger name="warn" level="warn" additivity="false">
            <AppenderRef ref="warn"/>
        </logger>
        <logger name="info" level="info" additivity="false">
            <AppenderRef ref="info"/>
        </logger>
        <logger name="error" level="error" additivity="false">
            <AppenderRef ref="error"/>
        </logger>
        <logger name="request" level="info" additivity="false">
            <AppenderRef ref="request"/>
        </logger>
        <logger name="db_info" level="info" additivity="false">
            <AppenderRef ref="db_info"/>
        </logger>
        <logger name="review_info" level="info" additivity="true">
            <AppenderRef ref="review_info"/>
        </logger>
        <logger name="org.springframework" level="info" additivity="true">
            <AppenderRef ref="info"/>
        </logger>
        <logger name="o.s.c.e" level="info" additivity="true">
            <AppenderRef ref="info"/>
        </logger>
        <logger name="o.s.jndi" level="info" additivity="true">
            <AppenderRef ref="info"/>
        </logger>
        <logger name="o.springframework" level="info" additivity="true">
            <AppenderRef ref="info"/>
        </logger>
    </Loggers>
</Configuration>